<div class="jumbotron">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <form (ngSubmit)="searchCompany(newForm)" #newForm="ngForm">
        <h1 class="h3 mb-3 font-weight-normal">{{ title }}:</h1>
        <input type="text"
               class="form-control"
               name="name"
               placeholder="Entreprise, firme, société, compagnie,..."
               required autofocus
               [(ngModel)]="company.name">
        <input type="text"
               class="form-control"
               name="country"
               placeholder="Code du pays (fr, de, ...)"
               required
               [(ngModel)]="company.country">
        <input type="text"
               class="form-control"
               name="city"
               placeholder="Ville (optionnel)"
               required
               [(ngModel)]="company.city">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Recherche</button>
      </form>

      <br>
      <div class="container-fluid">
        <div class="row" *ngIf="resultNum != 0">
          <div class="col-sm-4">
            <p><b>Nom</b></p>
          </div>
          <div class="col-sm-6">
            <p><b>Adresse</b></p>
          </div>
          <div class="col-sm-2">
            <p><b>Plus d'informations á</b></p>
          </div>
        </div>
        <div *ngFor="let company of companies">
          <div class="row">
            <div class="col-sm-4">
              <p>{{company.company.name}}</p>
            </div>
            <div class="col-sm-6">
              <p>{{company.company.registered_address_in_full}}</p>
            </div>
            <div class="col-sm-2">
              <p><a href="{{company.company.opencorporates_url}}">Site 1</a></p>
              <div *ngIf="company.company.registry_url != null">
                <p><a href="{{company.company.registry_url}}">Site 2</a></p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="resultNum === 0 && search == true">
          <p>Aucune entreprise trouvée.</p>
        </div>
      </div>
      <p class="mt-5 mb-3 text-muted">Hackathon Saint-Étienne - Novembre 2018</p>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

<router-outlet></router-outlet>
